/build
/coverage
/dist
/docs
/node_modules
/tests/**/.*
/tests/**/dockter-generated-requirements.txt
.idea
.Rproj.user
doc/.DESCRIPTION
doc/.Dockerfile
doc/r-spatial/R-spatial-analysis.Rproj
doc/r-spatial/.Rhistory
doc/r-spatial/.RData
doc/r-spatial/data/.DS_Store
