# A Python `pip` file for specifying Python dependencies of the Executa 'Midi' environment.
# Please add any additional Python packages in alphabetical order

absl-py
aiohttp
appdirs
async-timeout
attrs
bcrypt
bleach
cachetools
certifi
cffi
chardet
click
colorama
coverage
cryptography
cython
decorator
defusedxml
docutils
entrypoints
future
futures
grpcio
httplib2
idna
importlib-metadata
ipython
ipython-genutils
isodate
itsdangerous
jinja2
jmespath
joblib
jsonschema
kiwisolver
lxml
markupsafe
matplotlib
more-itertools
msrest
multidict
numpy
oauthlib
packaging
pandas
paramiko
pbr
pexpect
pillow
pip
plotly
pluggy
prompt-toolkit
protobuf
psutil
ptyprocess
py
pyarrow
pyasn1
pyasn1-modules
pycparser
pygments
pyjwt
pyopenssl
pyparsing
pyrsistent
pytest
python-dateutil
pytz
pyyaml
redis
regex
requests
requests-oauthlib
rpy2
rsa
scikit-learn
scipy
setuptools
simplejson
six
sqlalchemy
tabulate
tensorflow
toml
tqdm
traitlets
typing-extensions
uritemplate
urllib3
wcwidth
webencodings
websocket-client
wheel
wrapt
xlrd
yarl
zipp
