# A Python `pip` file for specifying Python dependencies of the Executa 'Midi' environment.
# Please add any additional Python packages in alphabetical order

attrs
cachetools
certifi
cffi
chardet
click
colorama
cryptography
decorator
docutils
future
futures
idna
importlib-metadata
jinja2
jmespath
jsonschema
lxml
markupsafe
matplotlib
numpy
oauthlib
packaging
pandas
pillow
pip
plotly
protobuf
pyasn1
pyasn1-modules
pycparser
pygments
pyjwt
pyparsing
pyrsistent
python-dateutil
pytz
pyyaml
requests
requests-oauthlib
rpy2
rsa
setuptools
six
typing-extensions
urllib3
wheel
xlrd
zipp
